body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: darkblue;
  color: rgb(245, 255, 51);
  padding: 20px;
  text-align: center;
}

.NavBar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(233, 233, 9);
  margin: 0;
  height: 3rem;
  align-items: center;
}

.NavBar li {
  margin: 0 15px;
}

.NavBar a {
  color: darkblue;
  width: 2rem;
  height: auto;
}

section {
  padding: 20px;
  margin: 20px 0;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer a {
  text-decoration: none;
  color: #102643;
}

.center {
  display: grid;
  place-items: center;
  font-size: 1.5vw;
}

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  font-family: monospace;
  font-size: 2vw;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.5vw;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.App-header {
  background-image: url("./images/union-jack.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem; /* Adjust height as needed */
  font-size: 3vw;
}

.header-content {
  padding: 2vh;
  border-radius: 10px;
  width: 80%;
  flex-wrap: wrap;
  color: white;
  font-size: 3rem;
}

.home-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2vh;
  border-radius: 10px;
  width: 90%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  color: white;
}

.lodge-logo {
  width: 20vw; /* Adjust the size as needed */
  height: auto;
  margin-right: 20px; /* Space between the image and the text */
}

.text-content {
  flex: 1;
}

.text-content p {
  margin: 0 0 10px; /* Spacing between paragraphs */
}

.App-header h1 {
  margin: 0;
  font-size: 3vw;
}

.App-header p {
  margin: 0;
  font-size: 1vw;
}
