body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: darkblue;
  color: rgb(245, 255, 51);
  padding: 20px;
  text-align: center;
}

.NavBar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(233, 233, 9);
  margin: 0;
  height: 3rem;
  align-items: center;
}

.NavBar li {
  margin: 0 15px;
}

.NavBar a {
  color: darkblue;
  width: 2rem;
  height: auto;
} 

section {
  padding: 20px;
  margin: 20px 0;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px;
}

footer ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer a {
  text-decoration: none;
  color: #102643;
}

.center {
  display: grid;
  place-items: center;
}

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  font-family: monospace;
}

.typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2.5vw;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.App-header {
  background-image: url('../public/images/union-jack.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem; /* Adjust height as needed */
  font-size: 5vw;
}

.App-header h1 {
  margin: 0;
  font-size: 5vw; /* Responsive font size based on viewport width */
}

.App-header p {
  margin: 0;
  font-size: 1.5vw; /* Responsive font size based on viewport width */
}

img {
  height: 10rem;
  width: 10rem;
}